@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Oswald:wght@200;300;400;500;600;700&family=Rubik+Gemstones&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --color__header:#fff;
    --color__boton: #f64b3c;
    --color__chef: #f54031;
    --color__foter: #222222;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
      
}

.header{
    position: relative;
}

.header__fondo{
    width: 100%;
    height: 100vh;
    /* object-fit: cover; */
}


.header__navegacion {
    position: absolute;
    top: -30px;
    color: var(--color__header);
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    width: 100%; 
    height: 100px;
    margin-top: 20px;
    font-size: 30px;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.header__navegacion ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.header__txt{
    position: absolute;  
    left: 50px;
    top: 23%;
    width: 100%;
    max-width: 800px; 
    padding: 30px; 
    font-size: 30px;
    color: var(--color__header);
}

.header__title{
    font-size: 100px;
}

.header__txt p {
    margin-top: 50px;
}

.header__button{
    border-radius: 90px;
    font-size: 30px;
    padding: 10px 90px;
    color: var(--color__header);
    background-color: var(--color__boton);
    border: none;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


/* comienzo la parte del personal */

.section__chef{
  width: 100%;
  height: 115vh;
  background-image: url(../img/Sin-título-3.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section__chef--txs{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.title{
    color: var(--color__chef);
    font-size: 100px;
}

.section__chef--p{
    color: var(--color__chef);
    font-size: 30px;
    width: 800px;
    text-align: center;
}


.section__chef--cards{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.card__img{
    border-radius: 200px;
}

.card__title{
    color: var(--color__chef);
    font-size: 30px;
    margin-top: 10px;     
}
.card__txt{
    color: var(--color__chef);
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

/* comienzo de la primera hamburgesa */

.section__burger{
    background-color: var(--color__chef);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.section__burger--relleno{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}


.section__burger--title{
    font-size: 80px;
    color: var(--color__header);
}

.section__burger--p{
    font-size: 30px;
    margin-top: 20px;
    width: 800px;
    color: var(--color__header);
}

.burger__buton{
    border-radius: 90px;
    font-size: 30px;
    padding: 10px 90px;
    color: var(--color__boton);
    background-color: var(--color__header);
    border: none;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/* comienzo de la segunda hamburgesa */

.section__hambur{
    background-image: url(../img/Sin-título-5.png);
    width: 100%;
    height: 115vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.section__hambur--relleno{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.section__hambur--p{
    font-size: 30px;
    margin-top: 20px;
    width: 800px;
    color: var(--color__chef);
}

.section__hambur--img{
    border-radius: 300px;
}

/* comienzo de las estadisticas */

.section__estadisticas{
    background-color: var(--color__chef);
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.section__estadisticas--txs{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}
.section__estadisticas--tilte{
    font-size: 80px;
    color: var(--color__header);
}

.section__estadisticas--p{
    font-size: 30px;
    width: 800px;
    color: var(--color__header);
}

.section__estadisticas--cards{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

/* comienzo populares */

.section__populares{
    background-image: url(../img/Sin-título-6.png);
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 200px;
}
.section__populares--txt{
    margin-top: 70px;
}

.section__populares--cards{
    display: flex;
    justify-content: space-evenly;
}

.card{
    background-color: var(--color__header);
    border-radius: 10px;
    width: 400px;
    height: 500px;
}

.card__contenido{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.populares__cards--title{
    color: var(--color__chef);
    font-size: 24px;
}

.populares__cards--img{
    padding: 20px;
}

.populares__cards--precio{
    color: var(--color__chef);
    font-size: 36px;
}

.populares__cards--p{
    color: var(--color__chef);
    font-size: 24px;
}

.populares__cards--boton{
    background-color: var(--color__boton);
    color: var(--color__header);
    font-size: 30px;
    border: none;
    border-radius: 50px;
    padding: 5px 80px;
}

/* comienzo section fondo */

.section__fondo{
    background-image: url(../img/Sin-título-7.png);
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section__fondo--txs{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 150px;
}

.section__fondo--p{
    color: var(--color__header);
    font-size: 40px;
    width: 800px;
}

.section__fondo--autor{
    color: var(--color__header);
    font-size: 50px;
}

/* comienzo section actualizacion */

.section__actializacion{
    background-image: url(../img/Sin-título-1.png);
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section__actializacion--txs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.section__actializacion--p{
    color: var(--color__chef);
    font-size: 30px;
    width: 900px;
}

/* comienzo footer */

.footer{
    background-color: var(--color__foter);
    height: 100vh;
    color: var(--color__header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 15%; */
    padding: 20px;
}

.footer__txs{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 30px;
    width: 40%;
    margin: 50px;
}

.footer__title{
    font-size: 30px;
}

.footer__p{
    font-size: 25px;
    width: 600px;
}

.footer__list{
    display: flex;
    text-align: start;
}

.footer__list--1{
    list-style: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
}

.footer__list--2{
    list-style: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
}

.footer__list--3 {
    list-style-type: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
}

.footer__iconos{
  display: flex;
  gap: 30px;
}

.icono {
    padding: 10px;
    border-radius: 30px;
    background-color: var(--color__header);
    color: black;
    width: 40px;
    text-align: center;
    font-size: 2em;
}

