@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Oswald:wght@200;300;400;500;600;700&family=Rubik+Gemstones&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --color__header:#fff;
    --color__boton: #f64b3c;
    --color__chef: #f54031;
    --color__foter: #222222;
    --color__iconos: #000;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
      
}

/* comienzo header  */

.header{
    background-image: url(../img/Sin-título-2.png); 
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.header__navegacion{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 3%;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


.header__navegacion--list{
    width: 50%;
    display: flex;
    justify-content: space-around;
    color: var(--color__header);
    list-style: none;
    font-size: 30px;
}

.header__txt{
    width: 50%;
    padding: 3%;
}

.header__txt--title{
    font-size: 100px;
    color: var(--color__header);
}

.header__txt--p{
    color: var(--color__header);
    font-size: 30px;
    margin-top: 3%;
}

.header__button{
    border-radius: 90px;
    font-size: 30px;
    padding: 10px 90px;
    color: var(--color__header);
    background-color: var(--color__boton);
    border: none;
    margin-top: 4%;
    display: flex;
    justify-content: center;
} 

/* comienzo la parte del personal */

.section__chef{
  width: 100%;
  height: 115vh;
  background-image: url(../img/Sin-título-3.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section__chef--txs{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.title{
    color: var(--color__chef);
    font-size: 100px;
}

.section__chef--p{
    color: var(--color__chef);
    font-size: 30px;
    width: 800px;
    text-align: center;
}


.section__chef--cards{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.card__img{
    border-radius: 200px;
}

.card__title{
    color: var(--color__chef);
    font-size: 30px;
    margin-top: 10px;     
}
.card__txt{
    color: var(--color__chef);
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

/* comienzo de la primera hamburgesa */

.section__burger{
    background-color: var(--color__chef);
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
}

.section__burger--relleno{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}


.section__burger--title{
    font-size: 100px;
    color: var(--color__header);
}

.section__burger--p{
    font-size: 30px;
    margin-top: 20px;
    width: 800px;
    color: var(--color__header);
}

.burger__buton{
    border-radius: 90px;
    font-size: 30px;
    padding: 10px 90px;
    color: var(--color__boton);
    background-color: var(--color__header);
    border: none;
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

/* comienzo de la segunda hamburgesa */

.section__hambur{
    background-image: url(../img/Sin-título-5.png);
    width: 100%;
    height: 115vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.section__hambur--relleno{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.section__hambur--p{
    font-size: 30px;
    margin-top: 20px;
    width: 800px;
    color: var(--color__chef);
}

.section__hambur--img{
    border-radius: 300px;
}

/* comienzo de las estadisticas */

.section__estadisticas{
    background-color: var(--color__chef);
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.section__estadisticas--txs{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}
.section__estadisticas--tilte{
    font-size: 100px;
    color: var(--color__header);
}

.section__estadisticas--p{
    font-size: 30px;
    width: 800px;
    color: var(--color__header);
}

.section__estadisticas--cards{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

/* comienzo populares */

.section__populares{
    background-image: url(../img/Sin-título-6.png);
    width: 100%;
    height: 106vh;
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10%;
}
.section__populares--txt{
    margin-top: 4%;
}

.section__populares--cards{
    display: flex;
    justify-content: space-evenly;
}

.card{
    background-color: var(--color__header);
    border-radius: 10px;
    width: 400px;
    height: 500px;
}

.card__contenido{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.populares__cards--title{
    color: var(--color__chef);
    font-size: 24px;
}

.populares__cards--img{
    padding: 20px;
}

.populares__cards--precio{
    color: var(--color__chef);
    font-size: 36px;
}

.populares__cards--p{
    color: var(--color__chef);
    font-size: 24px;
}

.populares__cards--boton{
    background-color: var(--color__boton);
    color: var(--color__header);
    font-size: 30px;
    border: none;
    border-radius: 50px;
    padding: 5px 80px;
}

/* comienzo section fondo */

.section__fondo{
    background-image: url(../img/Sin-título-7.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section__fondo--txs{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 150px;
}

.section__fondo--p{
    color: var(--color__header);
    font-size: 40px;
    width: 800px;
}

.section__fondo--autor{
    color: var(--color__header);
    font-size: 80px;
}

/* comienzo section actualizacion */

.section__actializacion{
    background-image: url(../img/Sin-título-1.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section__actializacion--txs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.section__actializacion--p{
    color: var(--color__chef);
    font-size: 30px;
    width: 900px;
}

/* comienzo footer */

.footer{
    background-color: var(--color__foter);
    height: 100vh;
    color: var(--color__header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.footer__txs{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 50px;
    width: 40%;
    margin: 50px;
}

.footer__title{
    font-size: 30px;
}

.footer__p{
    font-size: 25px;
    width: 80%;
}

.footer__list{
    display: flex;
    text-align: start;
}

.list {
    list-style-type: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
}

.footer__iconos{
  display: flex;
  gap: 30px;
}

.icono {
    padding: 10px;
    border-radius: 40px;
    background-color: var(--color__header);
    color: var(--color__iconos);
    width: 40px;
    text-align: center;
    font-size: 2em;
}

/* Media query para Laptop */

@media (max-width: 1024px) {

    /* comienzo header  */
    .header{
        /* width: 100%; */
        height: 80vh;
        background-size: cover;
        background-position: center;
    }
    
    .header__navegacion--list{
        font-size: 20px;
    }

    .header__txt{
        width: 48%;
    }

    .header__txt--title{
        font-size: 60px;
    }

    .header__txt--p{
        font-size: 20px;
        margin-top: 9%;
    }

    .header__button{
        font-size: 20px;
        padding: 5px 60px;
        margin-top: 9%;
    }

    /* comienzo chef  */

    .section__chef{
        /* width: 100%; */
        height: 80vh;
        background-size: cover;
        background-position: center;
    }

    .chef__card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__chef--txs{
        margin-top: 3%;
        gap: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .title{
        font-size: 60px;
    }

    .section__chef--p{
        font-size: 20px;
    }

    .card__img{
        width: 70%;
    }

    .card__title{
        font-size: 20px;
    }

    .card__txt{
        font-size: 20px;
    }

    /* comienza la primera hamburgesa */

    .section__burger{
        /* width: 100%; */
        height: 70vh;
        /* padding: 3%  ; */
    }

    .section__burger--relleno{
        gap: 50px;
    }

    .section__burger--title{
        font-size: 60px;
    }

    .section__burger--p{
        font-size: 20px;
        width: 450px;
        width: 82%;
    }

    .burger__buton{
        font-size: 20px;
        padding: 5px 60px;
        margin-top: 10%;
    }

    .section__burger--img{
        width: 37%;
    }

    /* comienzo segunda hamburgesa */

    .section__hambur{
        height: 70vh;
        background-size: cover;
        background-position: center;
    }

    .section__hambur--img{
      width: 37%;
    }

    .section__hambur--relleno{
        gap: 50px;
    }

    .section__hambur--p{
        font-size: 20px;
        width: 82%;
    }

    /* comienzo estadisticas  */

    .section__estadisticas{
        height: 70vh;
    }

    .section__estadisticas--txs{
        gap: 30px;
    }

    .section__estadisticas--tilte{
        font-size: 60px;
    }

    .section__estadisticas--p{
        font-size: 20px;
    }

    .section__estadisticas--img{
        width: 70%;
    }

    /* comienzo poplares  */

    .section__populares{
        height: 100vh;
        background-size: cover;
        background-position: center; 
    }

    .card__contenido{
        gap: 20px;
    }

    .card{
        width: 300px;
        height: 400px;
    }

    .populares__cards--img{
        width: 30%;
    }

    .populares__cards--precio{
        font-size: 26px;
    }

    .populares__cards--p{
        font-size: 20px;
    }

    .populares__cards--boton{
        font-size: 20px;
        padding: 3px 60px;
    }

    /* comienzo fondo  */

    .section__fondo{
        height: 70vh;
        background-size: cover;
        background-position: center; 
    }

    .section__fondo--txs{
      gap: 100px;
    }

    .section__fondo--p{
      font-size: 30px;
    }

    .section__fondo--autor{
      font-size: 60px ;
    }

    /* comienzo actializacion  */

    .section__actializacion{
      height: 70vh;
      display: flex;
      background-size: cover;
      background-position: center; 
    }

    .section__actializacion--p{
      font-size: 25px;
      width: 650px;
    }

    .section__actializacion--img{
      width: 80%;
    }

    /* comienzo footer  */

    .footer{
      height: 70vh;
    }

    .footer__tilte{
      font-size: 25px;
    }

    .footer__p{
      font-size: 20px;
    }

    .footer__iconos{
      gap: 20px;
    }

    .icono{
      font-size: 1.5em;
      width: 30px;
      border-radius: 50px  ;
    }

    .list{
      font-size: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }


    .footer__list--3{
      display: none;
    }
}

/* Media qeury de la tablet */

@media  screen and (max-width:768px) {

  /* comienzo header  */
  
  .header{
    height: 70vh;
    background-size: cover;
    background-position: center;
  }

  .header__navegacion--list{
    font-size: 15px;
  }

  .header__txt--title{
    font-size: 40px;
  }

  .header__txt--p{
    font-size: 18px;
  }

  .header__button{
    font-size: 18px;
  }
  
  /* comienza chef  */

  .section__chef{
    height: 70vh;
  }

  .title{
    font-size: 45px;
  }

  .section__chef--p{
    font-size: 18px;
    width: 80%;
  }

  .card__img{
    width: 60%;
  }

  .card__title{
    font-size: 18px;
  }

  .card__txt{
    font-size: 18px;
  }

  /* comienza la primera hamburgesa */

  .section__burger{
    height: 70vh;
  }

  .section__burger--relleno{
    gap: 40px;
  }

  .section__burger--title{
    font-size: 50px;
  }

  .section__burger--p{
    font-size: 18px;
  }

  .burger__buton{
    font-size: 18px;
  }

  .section__burger--img{
    width: 35%;
  }

  /* comienzo segunda hamburgesa */

  .section__hambur--relleno{
      gap: 30px;
    }
    
    .section__hambur--img{
      width: 35%;
    }

  .section__hambur--p{
    font-size: 18px;
  }

  /* comienzo estadisticas  */

  .section__estadisticas--txs{
    gap: 15px;
  }

  .section__estadisticas--tilte{
    font-size: 40px;
  }

  .section__estadisticas--p{
    font-size: 18px;
    width: 80%;
  }

  /* comienzo popular */

  .card__contenido{
    height: 70vh;
    gap: 17px;
  }

  .card{
    width: 250px;
    height: 350px;
  }

  .populares__cards--img{
    width: 30%;
  }

  .populares__cards--precio{
    font-size: 22px;
  }

  .populares__cards--p{
    font-size: 18px;
  }

  .populares__cards--boton{
    font-size: 17px;
    padding: 3px 40px;
  }

  /* comienzo fondo */

  .section__fondo--txs{
    gap: 70px;
    align-items: center;
  }

  .section__fondo--p{
    font-size: 20px;
    width: 80%;
  }

  .section__fondo--autor{
    font-size: 45px;
  }

  /* comienzo actualizacion */

  .section__actializacion--p{
    font-size: 20px;
  }

  .section__actializacion--img{
    width: 70%;
  }

  .footer{
    align-items: center;
  }

  .footer__list--2{
    display: none;
  }

}

/* Media qeury de la Mobile */

@media screen and (max-width:425px) {
    
    /* comienzo header  */

    .header{
        height: 40vh;
    }

    .header__navegacion--logo{
        display: none;
    }

    .header__contenido{
      display: flex;
      flex-direction: column;
    }

    .header__navegacion{
        justify-content: center;
        width: 100%;
    }

    .header__navegacion--list{
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      font-size: 15px;
    }

    .header__txt{
      margin-top: 3%;
      justify-content: center;
      width: 56%;
    }

    .header__txt--title{
        font-size: 25px;  
    }

    .header__txt--p{
        font-size: 15px;
    }

    .header__button{
        font-size: 15px;
        padding: 5px 35px;
    }

    /* comienzo chef */

    .section__chef{
        height: 115vh;
        width: auto;
        background-size: 425px ;
    }

    .section__chef--cards{
        flex-direction: column;
        gap: 30px;
    }


    .card__img{
        width: 30%;
    }

    .card__title{
        font-size: 18px;
    }

    .card__txt{
        font-size: 17px;
    }

  /* comienza la primera hamburgesa */

    .section__burger{
        flex-direction: column;
    }

    .section__burger--relleno{
        flex-direction: column;
    }

    .section__burger--txs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__burger--title{
        font-size: 30px;
    }

    .section__burger--img{
        width: 45%;
    }

    .section__burger--p{
        font-size: 13px;
        text-align: center;
    }

    .burger__buton{
        font-size: 13px;
        padding: 3px 40px;
    }

    /* segunda hamburgesa */

    .section__hambur{
        width: auto;
        background-size: 425px ;
        flex-direction: column;
    }

    .section__hambur--relleno{
        flex-direction: column;
        justify-content: center;
    }

    .section__hambur--txs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__hambur--p{
        font-size: 13px;
    }

    .section__hambur--img{
        order: -1;
        width: 45%;
    }

    /* comienzo estadisticas */

    .section__estadisticas--p{
        font-size: 13px;
    }


    /* comienzo popular */

    .section__populares{
        width: auto;
        background-size: 425px ;
        height: 130vh;
        gap: 5%;
    }

    .section__populares--cards{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .card{
        width: 200px;
        height: 300px;
    }

    .populares__cards--precio{
        font-size: 19px;
    }

    .populares__cards--title{
        font-size: 15px ;
    }

    .populares__cards--p{
        font-size: 13px;
    }

    .populares__cards--boton{
        font-size: 13px;
    }

    /* comienzo fondo */

    .section__fondo{
        width: auto;
    }

    .section__fondo--p{
        font-size: 15px;
    }

    .section__fondo--autor{
        font-size: 30px;
    }

    /* comienzo actualizacion */

    .section__actializacion{
        width: auto;
        background-size: 425px ;
    }

    .section__actializacion--p{
        font-size: 15px;
        width: 90%;
    }

    /* comienzo footer */

    .footer{
        height: 50vh;
        flex-direction: column;
    }
    .footer__txs{
        width: 80%;
        align-items: center;
    }

    .footer__title{
        font-size: 23px;
    }

    .footer__p{
        font-size: 13px;
        text-align: center;
    }

    .icono{
        font-size: 1em;
    }

    .footer__list--1{
        display: none;
    } 

}